body {
  background: linear-gradient(to bottom right, #b2b1b0, #1c1918);
  color: #333;
}
/*--- MAIN TITLE CSS RULES---*/
#main_title_container {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(119, 137, 121, 0.8);
  margin-bottom: 10px;
  font-family: georgia;
}

/*--- MAIN IMG AND PROJECT LIST CSS RULES ---*/
#main_img_project_list_container {
  padding: 20px 0;
  background-color: rgba(204, 220, 193, 0.8);
}
#main_img_container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 190px;
}
#main_img_container h4 {
  position: absolute;
  top: 480px;
  left: 110px;
  font-family: "Comic Sans MS";
}
ol li:nth-child(2), ol li:last-child {
  margin-top: 15px;
}
ol li h4 {
  margin-bottom: 15px;
}
.project-website-photo {
  width: 170px;
  height: 190px;
}
.project-website-photo:hover {
  border: 2px solid #333;
}
#main_img_project_list_container p {
  padding-top: 40px;
}

/*--- ABOUT ME CSS RULES ---*/
#about_me_container {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(227, 214, 171, 0.8);
}
#bk_section_container {
  border-right: 1px dotted #333;
}
#interest_hobbies_section_container {
  border-left: 1px dotted #333;
}
#motivate-container {
  margin-top: 60px;
}
#motivate-container li {
  font-size: 60px;
  list-style-type: none;
  text-decoration: underline;
  margin-bottom: 90px;
}
span {
  font-style: italic;
  font-weight: bold;
}
span a {
  color: #989382;
}
span a:hover {
  text-decoration: none;
}

/*--- CONTACT ME RULES ---*/
#contact_me_container {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(215, 130, 88, 0.8);
  margin-top: 10px;
}
#email-link {
  color: #A9A29E;
}
#email-link:hover {
  color: #0056B3;
  text-decoration: none;
}

/*--- GENERAL SPACING, COLOR AND LAYOUT RULES ---*/
.section-main-titles {
  background-color: rgba(253, 253, 253, 0.8);
  padding: 10px 0;
  margin-bottom: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-family: georgia;
}
.border-bottom-radius {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.spacer {
  height: 40px;
  width: 100%;
}

/*--- MEDIA QUERIES ---*/
@media screen and (max-width: 991px) {
  #main_img_container {
    margin-bottom: 70px;
  }
  #main_img_container img {
    padding-top: 0;
    margin-left: 280px;
  }
  #main_img_container h4 {
    left: 305px;
    top: 290px;
  }
  ol {
    list-style-type: none;
  }
  .project-website-titles {
    text-align: center;
  }
  .project-website-photo {
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  #main_img_container h4 {
    left: 80px;
  }
}
